

/* Fourth-section-here */

.fourth-main-section-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
}
.left-side-wrapper{
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 48.5%;
    margin: 1% 0.5% 0% 1%;
    padding: 54px;
}


.fourth-main-section-wrapper .left-side-wrapper {
    background-image: url("../images/home/watch-series-5.jpg");
}

.right-side-wrapper{
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;    
    width: 48.5%;
    margin: 1% 1% 0% 0.5%;
    padding: 54px;
}


.description-wrapper {
    max-width: 430px;
    margin: 0 auto;
    padding: 10px;
}

.fourth-main-section-wrapper .right-side-wrapper {
    background-image: url("../images/home/apple-card.jpg");
}

.description-wrapper{
    max-width: 430px;
    margin: 0 auto;
    padding: 10px;
}

/* *Fifth Highlight Section */ */
.fifth-highlight-wrapper {
	display: flex;
    /*-webkit-box-pack: justify;*/
    justify-content: space-between;
    background: #fff;
}

.fifth-highlight-wrapper .right-side-wrapper {
	background-image:  url("../images/images/home/air-pods.jpg"); 
	color: #fff; 
	background-size: initial;
	background-color: #000;
	background-position: bottom;
}
.logo-wrapper {
	font-size: 40px;
	font-weight: bold;
}
.tvshow-logo-wrapper {
	padding: 180px 0 200px;
}
.watch-more-wrapper a {
	text-decoration: none;
	font-size: 0.85em;
}
.watch-more-wrapper a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f144";
    padding-left: 15px;
}
